@font-face {
  font-family: VulfMono;
  src: url("../VulfMonoDemo-LightItalic.otf") format("opentype");
}
.wedding{
  justify-content: center;
  text-align: center;
  font-family: 'VulfMono', serif;
  font-size: 28px;
  padding: 10vh;
  margin: auto;
  word-wrap: break-word;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}